:root {
  --purple : #10044a;
  --pink1 :#da2c5a;
  --pink2:#ff0088;
  --blue:#3c2cfb;
  --vampireblack:#0A0A0A;
}
.Home-div{
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
.home-grid {
  font-size: medium;
  display: grid;
  grid-template-areas:
    "a b c d";
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: stretch;
  gap: 30px;
  padding: 30px 30px;
}

.home-grid2 {
  font-size: medium;
  display: grid;
  grid-template-areas:"e f";
  grid-template-columns: 5fr 4fr;
  gap: 30px;
  padding-left:30px ;
  padding-right:30px ;
  padding-bottom: 30px;
}
/* HOME GRID 1 */
.home-grid > div{
  max-height: 43vh;
}
.main-table { grid-area: a;}
.today-table { grid-area: b;}
.main-contributor { grid-area: c ;}
.matches-left{grid-area: d;}
/* HOME GRID 2 */
.graph-1 { grid-area: e; min-width: 500px; }
.total-contribution{grid-area: f;}

.container {
  font-size: 0.9rem;
  gap: 0;
  background: #fff;
  /* background: #e1eaf1; */
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.055);
}

.home-title {
  font-size: 2rem;
  font-weight: 500 !important;
  text-align: center;
}
/* MAIN TABLE */
.main-table{
  padding: 10px ;
  /* margin: 0; */
  /* margin-bottom: 15px; */
}
.main-table h3{
  padding: 10px 10px 5px 18px;
  margin: 0px 0;
  font-weight: 400;
  color: var(--vampireblack);
}
.main-table > ul{
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
  }
.main-table > ul> li{
  padding:  0 0 0 8px;
  display: grid;
  grid-template-columns: 1fr 1fr .75fr;
  justify-content: space-between;
  justify-items: baseline;
  /* gap: 15%; */
  border-radius: 0.25rem;
}

.main-table > ul> li:hover{
  background-color:#1f0d7936;
font-weight: 700;
}
/* TODAY TABLE */
.today-table{
  padding: 10px;
  margin: 0;
}
.today-table h3{
  padding: 10px 10px 5px 18px;
  margin: 0;
  font-weight: 400;
  color: var(--vampireblack);
  /* text-transform: uppercase;
  letter-spacing: 0.05ch; */
}
.today-table > ul{
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}
.today-table > ul> li{
  padding:  0 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.today-table > ul> li:hover{
  background-color: #ff00881f;
  font-weight: 700;
}
/* MAIN CONTRIBUTOR */
.main-contributor{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 0px;
  background-color: var(--purple);
  color: white;
  font-weight: 300;
  z-index: -2;
  overflow: hidden;
}
.main-contributor > h3,p{
  z-index: -1;
  margin-bottom: 3px;
  text-align: center;
  max-width: 80%;
}
.blob,.blob1,.blob2,.blob3{
  /* bottom: -60px; */
  z-index: -4;
  /* bottom: -5px;
  left: -20px; */
  /* opacity: 0.2; */
  width: 270px;
  /* height: 250px; */
  position: absolute; 
}
.blob1,.blob{
  opacity: 0.2;
  rotate: -20deg;
  }
  .blob3,.blob2{
  opacity: 0.24;
  rotate: -50deg;
}

/* MATCHES LEFT */
.matches-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matches-left > h3{
  padding: 10px 10px 10px 0px;
  font-weight: 500;
margin: 10px 0;
}
/* GRAPH 1 */
.graph-1{
  height: fit-content;
  padding: 10px;
  /* background-color: #eb413e; */
  /* background-color: #10044a; */
  /* color: #fff; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

}
.graph-1 h3{
  padding: 0;
  font-weight: 500;
  margin: 10px 0px 20px 0px;
  overflow: hidden;
  text-align: center;
}


.total-contribution{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.total-contribution > h3{
  /* padding-top: 20px; */
  font-weight: 500;
  margin: 0;
  overflow: hidden;
}
@media (max-width:400px) {
  .Home-div{
    width: 100dvw;
  }
  .home-grid{
    grid-template-areas:
    "a" 
    "b" 
    "c" 
    "d";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.7fr;
    justify-items:stretch;
    padding: 20px 10px 20px 10px;
    gap: 20px;
  }
  .home-grid2{
    grid-template-areas:
    "e"
    "f" ;
    grid-template-columns: 1fr;
    grid-template-rows:auto ;
    /* justify-items:stretch; */
  }
}
